@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");

* {
  font-family: "Work Sans", sans-serif !important;
}

.Nav-Bar {
  display: flex;
  justify-content: right;
  list-style: none;
  width: 86%;
  margin: 2rem auto 1rem auto;
  font-size: 1.4rem;
  color: grey;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-li {
  padding: 0rem 2rem;
}
.styleOne {
  position: absolute;
  min-height: 16rem;
  top: 0;
  left: 0;
  min-width: 7rem;
  border-radius: 0% 0% 100px 0%;
  background: linear-gradient(to right, #5951d8, #8112ef);
  z-index: 1;
}
.styleTwo {
  position: absolute;
  min-height: 16rem;
  right: 0;
  bottom: 0;
  min-width: 7rem;
  border-radius: 100px 0% 0% 0%;
  background: linear-gradient(to left, #5951d8, #8112ef);
  z-index: 2;
}
.left {
  transform: translate(0px, -10px);
  display: flex;
  align-items: center;
  color: black;
  margin-left: 1rem;
  font-size: larger;
  min-width: 14rem;
}
.right {
  display: flex;
}

.left_img {
  padding-top: 11px;
  max-width: 4rem;
  margin-right: 0.5rem;
}
.dollImgDiv {
  display: flex;
  width: 84%;
  margin: auto;
  justify-content: space-between;
}
.doll_img {
  max-width: 36.15rem;
  transform: translate(0px, 4px);
}
.number {
  border: 1px solid black;
  border-radius: 50%;
  display: inline-flex;
  padding: 0.3rem 0.6rem;
  align-self: center;
}
.info {
  display: flex;
  height: fit-content;
}
.info_divs {
  display: flex;
  flex-direction: column;
}
.text {
  font-size: 0.8rem;
  color: grey;
  padding: 0.6rem 0;
}
.br_div {
  border: 1px solid grey;
  min-width: 10rem;
  max-height: 0.1rem;
  background: grey;
  align-self: center;
  transform: translate(0px, -15px);
}
#one {
  padding: 0.3rem 0.7rem;
}
/* .sup_info {
  margin-left: 11.5rem;
} */
.welcome {
  margin-top: 6rem;
  font-size: 3rem;
}
.buttons {
  display: flex;
  margin-top: 2.5rem;
  justify-content: space-between;
  max-width: 70%;
  font-size: larger;
}

.container {
  display: block;
  position: relative;
  padding-left: 39px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: medium;
  font-weight: lighter;
  color: grey;
  padding-top: 5px;
  padding-bottom: 10px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;

  border-radius: 50%;
  border: 2px solid red;
}

.container input:checked ~ .checkmark {
  background-color: white;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: red;
}
.choose_img {
  max-width: 4rem;
}
.n_img {
  max-width: 100%;
}
.choose {
  max-width: fit-content;
  text-align: center;
  padding: 1rem 0;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 1px #00000026;
  margin: 2rem 1rem;
  border: 2px solid white;
  font-size: small;
  min-width: 7rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.choose:hover {
  border: 2px solid red;
  cursor: pointer;
}
#choose_one {
  margin-left: 1px;
}
